body{
    background-color: black;

}
header{
    width: 100%;
}
form{
    font-size: 30px;
    border-radius: 16px;
    background-color: aliceblue;
    text-align: center;
    position: absolute;
    margin-top: 10rem;
    margin-left: 40rem;
   margin-right: 5rem;
}
.form-items{
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 20px;
opacity: 1;
    display: flex;
 flex-direction: column;

}

article{
    text-wrap: wrap;
    position: absolute;
    margin-top: 15rem;
    margin-left: 4rem;
}